<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- Title for the project -->
    <title>Rubi-chassis project</title>

    <!-- style sheet templates from online-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
  <!-- Style sheets configured locally -->
  <link rel="stylesheet" href="{{ static_prefix }}/static/css/mdb.min.css">
  <link rel="stylesheet" href="{{ static_prefix }}/static/css/mdb.rtl.min.css">
  <link rel="stylesheet" href="{{ static_prefix }}/static/css/mdb.min.css.map">
  <link rel="stylesheet" href="{{ static_prefix }}/static/css/loginclass.css">

  <!--Google fonts style sheet for configuring and setting up the fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  </head>

  <!--start of the body-->
  <body>
   
    <div id="content">
       {% block content %}
      
       <!--Block content from other files goes here -->
   
       {% endblock %}
   </div>
   

    <!-- End your body here-->

    <!-- java script files for the code  -->
    <script type="text/javascript" src="../static/js/mdb.es.min.js"></script>
    <script type="javascript" src="../static/js/mdb.es.min.js.map"> </script>
    <script type="javascript" src="../static/js/mdb.umd.min.js"> </script>
    <script type="javascript" src="../static/js/mdb.umd.min.js.map"> </script>


    <!--end of the body-->
  </body>
</html>










